<div id="micro-app">
  <h1>Angular Todo List</h1>
  <button (click)="addTask()">Add Task</button>
  <ol>
    <li class="task" *ngFor="let task of taskList; let i = index">
      <span *ngIf="!task.editable" (click)="editTask(i)">
        {{ this.task.title }}
      </span>

      <input
        type="text"
        *ngIf="task.editable"
        [value]="task.title"
        (blur)="onTaskBlur(i, $event)"
      />

      <span class="delete" (click)="removeTask(i)"> X </span>
    </li>
  </ol>
</div>
